.contact-form {
    width: 100%;
    margin-top: 30px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: visible;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        .wave-group {
          position: relative;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .wave-group .input {
          font-size: 16px;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid #515151;
          background: transparent;
        }
        
        .wave-group .input:focus {
          outline: none;
        }
        
        .wave-group .label {
          color: #999;
          font-size: 18px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          display: flex;
        }
        
        .wave-group .label-char {
          transition: 0.2s ease all;
          transition-delay: calc(var(--index) * .05s);
        }
        
        .wave-group .input:focus ~ label .label-char,
        .wave-group .input:valid ~ label .label-char {
          transform: translateY(-20px);
          font-size: 14px;
          color: #5264AE;
        }
        
        .wave-group .bar {
          position: relative;
          display: block;
          width: 100%;
        }
        
        .wave-group .bar:before,.wave-group .bar:after {
          height: 2px;
          width: 0;
          bottom: 1px;
          position: absolute;
          background: #5264AE;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }
        
        .wave-group .bar:before {
          left: 50%;
        }
        
        .wave-group .bar:after {
          right: 50%;
        }
        
        .wave-group .input:focus ~ .bar:before,
        .wave-group .input:focus ~ .bar:after {
          width: 50%;
        }
      
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      padding: 0 20px;
      box-sizing: border-box;
      color: aliceblue;
    }
  
    input.sub{
      background: transparent;
      border: 1px solid #515151;
    }

    textarea {
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      border: 0;
      background: transparent;
      border: 1px solid #515151; 
      height: 50px;
      font-size: 16px;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
      color: aliceblue;
    }
  
    .flat-button {
      color: #ffd700;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #ffd700;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
    }
}

@media(max-width:400px){
    .container.contact-page .text-zone, .container.about-page .text-zone, .container.portfolio-page .text-zone{
        width: 80%;
    }
}

:placeholder-shown{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #115173;
}
